<html>
   <head>
        <script src="/js/phone_book.js"></script>
        <link rel="stylesheet" type="text/css" href="css/phone_book.css">
   </head>
    <body background="images/purdy.jpeg" align="middle">
        <center>
            <form method="post" action="contacts">
            <div class="popo">
                <h2>List of contacts</h2><br>
                <table  align="center">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                    </tr>
                     <%contacts.each do |v|%>
                        <tr>
                        <%v.each do |info|%>
                            <td><%=info%></td>
                        <%end%>
                        </tr>
                    <%end%>
                </table><br>
                <input type="submit" value="return"><br>
                <br><br>
                <a href='/'>sign out</a>
            </div>









            </form>
        </center>
    </body>
</html>