<html>
   <head>
        <script src="/js/phone_book.js"></script>
        <link rel="stylesheet" type="text/css" href="css/phone_book.css">
   </head>
    <center>
    <body background="images/purdy.jpeg" align="middle">
        <form method="post" action="phoney1" name="myform">
        <div class="error">
            <span><%=error%></span>
        </div>
            <div class="login">
                <font color="pink"><h2>Please log in</h2></font>
                <input type="text" placeholder="username" id="username"  name="username" required><br><br>
                <input type="password" placeholder="password" id="password" name="password"  required><br><br>
                <input type="submit" value="log in" name="login">
            </div><br>
            <div class="classy">
            <font color="pink"><h2>Not signed up? sign up here!</h2></font>
                <a href='/phoney2'>Sign up</a>
            </div>
    </center>
        </form>
    </body>
</html>