<html>
   <head>
        <script src="/js/phone_book.js"></script>
        <link rel="stylesheet" type="text/css" href="css/phone_book.css">
   </head>
    <body>
        <form method="post" action="phoney2">
            <center>
                <h2>Sign up here!</h2><br>
                <input type="text" placeholder="make a username" name="mkuser" required><br><br>
                <input type="password" placeholder="make a password" name="mkpass" required><br><br>
                <br><input type="submit" name="sub" value="submit">

















            </center>
        </form>
    </body>
</html>
   