<html>
   <head>
        <script src="/js/phone_book.js"></script>
        <link rel="stylesheet" type="text/css" href="css/phone_book.css">
   </head>
    <body>
        <form method="post" action="phoney1">
            <div class="log in">
                <h2>Please log in</h2>
                <input type="text" placeholder="username" id="username" name="username" required>
                <input type="password" placeholder="password" id="password" name="password" required><br><br>
                <input type="submit" value="log in" name="login">
            </div>
            <h2>Not signed up? sign up here!</h2>
            <div class="classy">
                <a href='/phoney2'>sign up</a>
            </div>
        </form>
    </body>
</html>