<html>
   <head>
        <script src="/js/phone_book.js"></script>
        <link rel="stylesheet" type="text/css" href="css/phone_book.css">
   </head>
     <body background="images/purdy.jpeg" align="middle">
        <form method="post" action="phonedash">
            <center>
                <div class="koopa">
                <font color="pink"><h2>Make a new contact!</h2><br></font>
                <input type="text" placeholder="First name" name="First_Name" maxlength="10"  required>
                <input type="text" placeholder="Last name" name="Last_Name" maxlength="10" required>
                <input type="number" placeholder="Phone number" name="Phone_Number" maxlength="10" required>
                <input type="text" placeholder="Street address" name="Street_Address" maxlength="20" required>
                <input type="text" placeholder="City" name="City" maxlength="18" required>
                <input type="text" placeholder="State" name="State" maxlength="8" required>
                <input type="number" placeholder="Zip" name="Zip" maxlength="5" required>
                <input type="submit" name="sub" value="submit">
                <a href='/'>Sign out</a>
                
            </div>






            </center>
        </form>
    </body>
</html>
   