<html>
   <head>
        <script src="/js/phone_book.js"></script>
        <link rel="stylesheet" type="text/css" href="css/phone_book.css">
   </head>
     <body background="images/purdy.jpeg" align="middle">
     <h2><font color="pink"><%=error1%></font><h2>
        <form method="post" action="phoney2">
            <center>
            <div class="classclass">
                <font color="pink"><h2>Sign up here!</h2><br></font>
                <input type="text" placeholder="make a username" name="mkusername" required><br><br>
                <input type="password" placeholder="make a password" name="mkpassword" required><br><br>
                <br><input type="submit" name="sub" value="submit"><br><br>
                <a href='/'>back</a><br>
                </div>

















            </center>
        </form>
    </body>
</html>
   