.login 
{
    background-color:#0b24067e;
    width: 300px;
    border: 20px solid #d10bd179;
    padding: 20px;
    margin: 20px;
    box-shadow: -8px -8px 9px;
}

input[type=submit]{
    outline: none;
    border: none;
    color: #fff;
    background: #f44336;
    padding: 12px 25px;
    text-transform: uppercase;
}


.classy {
    background-color:#0b24067e;
    width: 300px;
    border: 20px solid #d10bd179;
    padding: 20px;
    margin: 20px;
    box-shadow: -8px -8px 9px;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.classclass {
    background-color:#0b24067e;
    width: 300px;
    border: 20px solid #d10bd179;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 2px 9px;
}

.koopa {
    background-color:#0b24067e;
    width: 300px;
    border: 20px solid #d10bd179;
    padding: 20px;
    margin: 20px;
    box-shadow: -8px -8px 9px;
    display: grid;
}
input#disable {
    margin-bottom: 15px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #f44336;
    color: #aaa;
    
}

.popo {
    background-color:#45e6f1af;
    width: 80%;
    border: 5px solid #d10bd179;
    padding: 2%;
    margin: 5%;
    box-shadow: 10px 2px 9px;


}
td {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    height: 50%;
    width: 11%;
    padding: 20px 3px;
}

.modal
{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content
{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    display: grid;
}




.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} 
 .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.error
{  
    font-size: xx-large;
    color: pink;
}